* {
  margin: 0;
  padding: 0; 
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.container {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding: 18px 40px;
}

.logo {
  /* display: flex; */
  height: 100%;
}
.logo img{
  height: 50px;
  width: 50px;
  padding: 6px 0px 0px 5px;
}
.main > ul {
  list-style: none;
  display: flex;
}

.main label {
  text-decoration: none;
  color: #252b33;
  font-weight: bold;
  font-size: 15px;
}

.main > ul > li {
  position: relative;
  text-align: center;
  padding: 7px 16px;
}

.menu_div {
  display: none;
}
.menu_div >ul>li>div>h3>a{
  text-decoration: none;
  color: #252b33;
}
.sticky{
  position: fixed;
  border-radius: 40px;
  border: 1px solid rgba(17, 24, 28, .07);
  left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    top: 20px;
    padding: 5px;
  background-color: #FFFFFFCC;
  justify-content: space-evenly;
  z-index: 1;
  transition: 0.4s;
}
.submenu {
  list-style: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.1);
  padding: 15px;
  min-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  top: 100%;
  left: -210px;
  gap: 0.5rem;
  text-align: left;
  
}
.submenu::after{
    content: " ";
    position: absolute;
    bottom: 99%; 
    left: 40%;
    margin-left: -5px;
    border-width: 9px;
    border-style: solid;
    border-color: transparent transparent white transparent;    
    border-radius: 20px;
}
.submenuContent h3 a::after{
    content: "";
    width: 0%;
    height: 1.5px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 21px;
    left: 0;
    transition: 0.3s;
}
.symbols:hover .submenuContent h3 a::after{
    width: 100%;
    transition: 0.3s;
}
.submenu h3 a{
  font-size: 15px;
  position: relative; 
}
.submenu li div span {
  font-size: 12px;
  color: #666;
  margin-top: 0.3em;
  display: block;
}
.symbols {
  display: flex;
}
.symbols i {
  font-size: 12px;
  padding-right: 5px;
}
.symbols div>h3>a{
  text-decoration: none;
  color: #252b33;
} 
.yolo1 {
  display: flex;
  text-wrap: nowrap;
  padding: 10px;
}
.yolo1 i {
  font-size: 15px;
  padding-right: 5px;
}
.yolo1 h4 i{
  color: #000000;
}
.yolo1 a{
  text-decoration: none;
  color: #000000;
}

.img {
  display: flex;
}
.text i {
  padding-right: 9px;
}

.submenu_content2 {
  min-width: 950px;
  display: flex;
  text-align: left;
  top: 100%;
  left: -220px;
  gap: 30px;
}
.submenu_content2::after{
  left: 24.5%;
  border-width: 10px;
}
.submenu_content3 {
  padding: 15px;
  min-width: 500px;
  top: 100%;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  left: -220px;
  gap: 1.5rem;
}
.submenu_content3::after{
  left: 33.5%;
  border-width: 9px;
}
.submenu_content3 li:hover h3 a::after{
  width: 100%;
  transition: 0.3s;
}
.submenu_content3 img:hover{
   transform: scale(0.95);
   transition: 0.4s;
  }
.submenu_content5 {
  min-width: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  left: -220px;
  gap: 0.5rem;
}

.submenu_content4::after{
left: 37%;
border-width: 10px;
}

.submenu_content4 li a:hover::after{
  width: 100%;
  transition: 0.3s;
}

.submenu_content4 li a::after{
  content: "";
  width: 0%;
  height: 1.5px;
  background: red;
  position: absolute;
  top: 22px;
  left: 0;
  transition: 0.3s;
}

.submenu_content4 a {
  font-size: 15px;
  position: relative;
}

.submenu_content5 {
    padding: 15px;
    min-width: 750px;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: -220px;
    gap: 1rem;
    
  }
  
.submenu_content5::after{
  border-width: 10px;
  left: 32%;
}
.submenu_content6::after{
      
 left: 44%;
}

.ok {
  display: flex;
}
.ok1 {
  padding: 10px;
}
.ok2 {
  padding: 10px;
}
.symbols:hover > .submenuContent a {
  color: #f13c31;
  transition: 0.5s;
}
.symbols:hover > a h3 {
  color: #f13c31;
  transition: 0.5s;
}
.main ul li:hover > h4>i {
  color: #f13c31;
  transition: 0.5s;
}
.main ul li:hover > h3 a {
  color: #f13c31;
  transition: 0.5s;
}
.main ul > li:hover .menu_div {
  display: block;
  visibility: visible;  
  background-color: red;
  position: relative;
  animation: mymove 0.3s;
  transform-origin: top;
  top: 20px;
}

@keyframes mymove {
  
  0% {
    opacity: 1;
    transform: rotateX(-40deg);
    }
15%{
      opacity: 0.15;
      transform: rotateX(-35deg);
    }
  25%{
    opacity: 0.25;
    transform: rotateX(-30deg);
  }
  40%{
    opacity: 0.40;
    transform: rotateX(-25deg);
  }
  50%{
    opacity: 0.50;
    transform: rotateX(-20deg);
  }
  60%{
    opacity: 0.60;
    transform: rotateX(-15deg);
  }
  75%{
    opacity: 0.75;
    transform: rotateX(-10deg);
  }
  85%{
    opacity: 0.85;
    transform: rotateX(-5deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
  
}

.submenu_content3 li:hover div h3 a {
  color: #f13c31;
  transition: 0.5s;   
}
.submenu_content4 li:hover a{
  color: #f13c31;
  transition: 0.5s;
}
.main li:hover label{
  color: #f13c31;
  transition: 0.5s;
}

.Contact ul {
  display: flex;
  position: relative;
}

.Contact ul li{
  list-style: none;
  padding: 10px 15px;
  background-color: red;
  border-radius: 25px;
   
}
.Contact  a {
  text-decoration: none;
  color: white;
  z-index: 2;
}
.Contact > ul > li::after{
  content: '';
  position: absolute;
  background-color: #ffffff70;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 25px;
  width: 0; 
  height: 0;
}


.Contact ul li:hover::after{
 animation: ripple 0.3s;
}

@keyframes ripple {
  0%   {height: 20%; width: 0;}
  20%   {height: 40%; width: 0%;}
  40%   {height: 100%; width: 20%;}
  60%   {height: 100%; width: 40%;}
  70% { height: 100%;  width: 60%;}
  80%   {height: 100%; width: 80%;}
  100%   {height: 100%; width: 100%;}
}
 
.body1 { 
  width: 100%;
  display: flex;
}
.bodypara {
width:30%;
padding: 60px;
}
.bodypara h4 {
  color: #252b33;
  font-weight: normal;
  text-wrap: nowrap;
  margin-bottom: 16px;
  font-weight: 400;
    line-height: 28px;
}
.bodypara h1 {
  font-size: 50px;
  color: #252b33;
  margin-bottom: 16px;
}
.bodypara p {
  color: #252b33;
  font-size: 16px; 
  margin-bottom: 20px;
  font-weight: 400;
    line-height: 28px;
}
.button1 {
  margin: 30px;
  display: inline-block;
  padding: 10px 20px;
  background-color: red;
  border-radius: 25px;
}
.button1 a{
    text-decoration: none;
    color: white;   
}
.video{
  z-index: -1;
  top: 0%;
}
.video video{
  height: 550px;
  width: 980px;
}

.scrollbar{
  display: flex;
  overflow: hidden;
}
.scrollbar img{
  width: 15%;
  height: 90px;
  width: 153px;
  animation: slide 15s linear infinite;
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-600px);
  }
}
.empty{
  padding-top: 100px;
}
.container1{
  max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.headers {
  font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -0.5px;
    padding-top: 30px;
}

.para{
  display: flex;
  margin-top: 80px;
  max-width: 85%;
}

.paragraphs p{
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    margin-right: 80px;
    
}
.para2 a{
  text-wrap: nowrap;
  font-weight: 600;
  font-size: 18px;
    color:red; 
    position: relative;
}
.para2 li{
  list-style: none;
  margin-bottom: 8px;
  
}
.para2 li a::after{
  content: "";
    width: 0%;
    height: 2px;
    background: rgb(255, 0, 0);
    position: absolute;
    top: 22px;
    left: 0;
    transition: 0.3s;
}
.para2 li:hover a::after{
  width: 100%;
  transition: 0.3s;
}

.items{
  margin-top: 90px;
}
 .items h1{
  text-align: center;
  width: 70%;
    margin: 0px auto;
    font-size: 32px;
    line-height: 46px;
    font-weight: 400;
 }

 .numbers{
  display: flex;
  overflow: hidden;
  justify-content: space-around;
 }

 .number1 h1{
  font-size: 80px;
  line-height: 70px;
  letter-spacing: -3px;
  font-weight: 800;
  margin-top: 80px;
  display: inline-block;
  text-wrap: nowrap;
  color: #212529;
  margin-bottom: 20px;
}
.number1 h1 span{
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
}

.smallicons{
  display: flex;
  overflow: hidden;
  width: 100%;
  justify-content: space-around;
  
}

.smallicons i{
  position: relative;
  font-size: 48px;
  width: 25%;
  padding: 30px;
  margin-top: 45px;
  color: #4bd965;
}

.smallicons h3{
 margin-top: 50px;
  text-decoration: none;
  font-size: 24px;
    color: #252b33;
    font-weight: 600;
    line-height: 34px;
}
.smallicons p {
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 10px;
}
.headers1{
  font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -0.5px;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.header2{
  background-color: #fafafa;
  padding-top: 30px;
}
.imghover{
  padding: 30px;
  background-color: #FAFAFA;
  
}
.imghover i{
  width: 70%;
  color: #000000;
  background-color: white;
  border-radius: 25px
}

.hover1 i:hover {
  background: #FFF3D6;
    border: 2px solid #e3cd95;
    border-radius: 25px;
    transition: 0.3s;
}

.hover2 i:hover {
  background: #D6EEFF;
    border: 2px solid #b6dcf6;
    border-radius: 25px;
    transition: 0.3s;
}

.hover3 i:hover {
  background: #DFFFD6;
    border: 2px solid #9fe989;
    border-radius: 25px;
    transition: 0.3s;
}

.hover4 i:hover {
  background: #FFD8D6;
    border: 2px solid #f4afab;
    border-radius: 25px;
   transition: 0.3s;
   display: block;
}
.readmore{
  color: #f13c31 !important;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    position: relative;
    display: inline-block;
    margin-top: 16px;
}

.readmore::after{
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(255, 0, 0);
  position: absolute;
  top: 19px;
  left: 0;
  transition: 0.5s;
}

.hover1 i:hover .readmore::after{
  width: 100%;
  transition: 0.3s;
}
.hover2 i:hover .readmore::after{
  width: 100%;
  transition: 0.3s;
}
.hover3 i:hover .readmore::after{
  width: 100%;
  transition: 0.3s;
}
.hover4 i:hover .readmore::after{
  width: 100%;
  transition: 0.3s;
}
.techwork{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #EEEEEE;
}

.techwork a{
  text-decoration: none;
  color: #252b33;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px 24px 20px;
  margin-top: 60px;
}
.language{
  text-align: -webkit-center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.language i{
  color: black;
  font-size: 44px;
}
.language h3{
  font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #252b33;
    margin-top: 16px;
}
.background{
    border-radius: 4px;
    overflow: hidden;
    background-image: linear-gradient(225deg, #39A1F7, #A875FF);
    display: flex;
    
}
.deals{
  width: 50%;
  align-items: center;
    justify-content: space-between; 
    padding: 40px;

}
.deals p{
  color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.deals h2{
  color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1.3px;
    text-align: left;
}
.features{
  margin-top: 60px;
  padding: 30px;
  background: rgba(255, 255, 255, .2);
  border-radius: 6px; 
}
.features h4{
  font-size: 16px;
    line-height: 28px;
    color: #fff;
    font-weight: 400;
}
.cofounder{
  display: flex;
  margin-top: 18px;
}
.forflex img{
  width: 48px;
    height: 48px;
    border-radius: 100%;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.jason{
  padding-left: 15px;
  
}
.jason p{
  color: #ffffff;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 18px ;
}
.jason span{
  font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0;
    font-weight: 400;
}
.mobile{
  width: 50%;
  text-align: center;
  margin-top: 50px;
}
.mobile img{
  transition: transform .4s;
}
.background:hover .mobile img{
transform: scale(1.1);
}

.empty1{
  padding-top: 50px;
}
.background1{
  background-image: linear-gradient(225deg, #079E50, #07BF60);
}
.background2 {background-image: linear-gradient(225deg, #308CA5, #44A7C0);
}
.what{
  display: flex;
  position: relative;
}
.what li a{
  text-decoration: none;
  color: white;
}
.what ul li{
  list-style: none;
    padding: 10px 15px;
    background-color: red;
    border-radius: 25px;
}
.what > ul > li::after {
  content: '';
  position: absolute;
  background-color: #ffffff70;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 0;
  height: 0;
}
.what ul li:hover::after{
  animation: ripple 0.5s;
 }
 
 @keyframes ripple {
   0%   {height: 20%; width: 0;}
   20%   {height: 40%; width: 0%;}
   40%   {height: 100%; width: 20%;}
   60%   {height: 100%; width: 40%;}
   70% { height: 100%;  width: 60%;}
   80%   {height: 100%; width: 80%;}
   100%   {height: 100%; width: 100%;}
 }

.viewall {
  display: flex;
  position: relative;
  justify-content: center;
}
.viewall li a{
    text-decoration: none;
    color: white;
}
.viewall ul li{
  list-style: none;
    padding: 10px 15px;
    background-color: red;
    border-radius: 25px;
}
.viewall > ul > li::after {
  content: '';
  position: absolute;
  background-color: #ffffff70;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  width: 0;
  height: 0;
}
.viewall ul li:hover::after{
  animation: ripple 0.5s;
 }
 
 @keyframes ripple {
   0%   {height: 20%; width: 0;}
   20%   {height: 40%; width: 0%;}
   40%   {height: 100%; width: 20%;}
   60%   {height: 100%; width: 40%;}
   70% { height: 100%;  width: 60%;}
   80%   {height: 100%; width: 80%;}
   100%   {height: 100%; width: 100%;}
 }
 .empty2{
  background-color: #fafafa;
 }

.lorem{
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    padding-top: 25px;
    text-align: center;
    overflow: hidden;
}
.jugaad img{
  width: 100%;
  padding: 40px 0;
  
}
.lets1{
  padding: 60px;
}
.gaurantee{
  width: 100%;
  display: flex;
  overflow: hidden;
  padding-top: 80px;
}
.gaurantee1{
  width: 42%;
  padding-left: 15px;
  padding-right: 15px;

}
.gaurantee1 h5{
  font-size: 16px;
    color: #252b33;
    margin-bottom: 15px;
    font-weight: 500;
    line-height: 1.2;
}
.gaurantee1 h2{
  margin-bottom: 15px;
  font-size: 30px;
  line-height: 40px;  
  color: #252b33;
  font-weight: 800;
  letter-spacing: -0.5px;
}
.gaurantee1 p{
  margin-bottom: 19px;
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
}
.gaurantee2{
  overflow: hidden;
  width: 58%;
    padding-left: 15px;
    padding-right: 15px;
}
.gaurantee2 img{
  max-width: 700px;
}
.startfree{
  margin-top: 30px;
}
.vidplay{
  display: flex;
  margin-top: 40px;
  overflow: hidden;
}
.vidplay1{  
  height: 41;
  width: 740;
  margin-right: 10px;
}
.vidplay2{
  width: 620px;
  height: 41;
}
.lades{
  font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
    text-align: center;
}
.logosinline{
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  height: 100px;
  margin-top: 50px;
  overflow: hidden;
  
}
.logosinline img{
  padding: 0px 30px;
}
.logosinline1{   
  height: 63px;
}
.logosinline1 img{
  padding: 0px 15px;
}
.logosinline2{   
  height: 40px;
}
.articles{
  display: flex;
  
}
.img_div{
  border-radius: 10px;
  overflow: hidden;
  margin: 10px 20px;
}
.img_div img{
  transition: transform .4s; 
  border-radius: 10px;
}

.articles img:hover {
  transform: scale(1.1);   
}

.articles span{
  padding: 15px;
  font-size: 12px;
  color: #81959E;
  font-weight: 600;
  text-transform: uppercase;

}
.articles p{
  padding: 15px;
  font-size: 20px;
  color: #252B33;
  line-height: 28px;
  margin: 10px 0px 0px;
  font-weight: 600;
}

.clock{
  display: flex;
  text-align: center;
  padding: 60px 40px;
  overflow: hidden;
  background-color: #fafafa;
}
.clock i{
  font-size: 39px;
}
.clock h6{
  font-size: 18px;
    color: #252B33;
    font-weight: 600;
    margin-bottom: 12px;
}
.clock span{
  font-size: 14px;
    line-height: 24px;
    color: #252B33;
    font-weight: 400;
    text-align: center;
}
.footer{
  display: flex;
  padding: 60px 0px 0px;
  
}

.footer h6{
  color: #252B33;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer a{
  color: #252B33;
  font-size: 14px;
  line-height: 0px;
  font-weight: 400;
  margin-bottom: 5px;
  list-style: none;

}
.footer li{
  list-style: none;
}
.footer1{
  padding: 0 15px;
}
.iconlogo img{
  height: 50px;
}

.footer1 p{
  margin-top: 15px;
    font-size: 14px;
    color: #8b969f;
    background: transparent;
}

.footer1 a{
  color: #F13C31;
    font-size: 14px;
    font-weight: 600;
   text-decoration: none;
}
.footer2{
  padding: 0 15px;
  text-wrap: nowrap;
}
.footer3{
  padding: 0 15px 0 60px;
  text-wrap: nowrap;
}
.footer4{
  padding: 0 15px;
  text-wrap: nowrap;
  margin-top: 50px;
}
.footer5  {
  padding: 0 15px 0 40px;
  text-wrap: nowrap;
}
.footer a:hover{
  color: red;
  transition: 0.2s;
}
.subfooter{
  display: flex;
  width: 100%;
  border-top: 1px solid #EEEEEE;
    margin-top: 40px;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}
.subfooter p{
  font-size: 12px;
    line-height: 20px;
    color: #8A959E;
    margin-bottom: 5px;
    width: 66%;
    text-wrap: nowrap;
}
.subfooter i{
  padding:  0 8px;
  font-size: 18px;
  transition: 0.5s;
  position: relative;
}
.subfooter label{
  color: red;
}
.indianic{
  align-items: center;
}
.footerimg{
  margin-top: 30px;
} 
.indianic a{
  color: #252B33;
  font-size: 14px;
  font-weight: 400;
}
.subfooter i:hover{
  color: red;
  transform: translate(0, -4px);
}
